.logout {
    height: 15px;

}

.usuario-user {
    display: inline-block;
}

nav {
    margin-top: -12px;
    margin-left: -12px;
    margin-right: -12px; 
    padding: 1%;
    overflow: auto;
    border: solid;
    width: 100%;
    background-color: #eaeaea;
}

.nav-user {
    float: right;
}