.logout {
    height: 15px;

}

.usuario-user {
  /*  display: inline-block;*/
  float: right;
}
.app-Name{
  float: left;
}
nav {
    margin-top: -12px;
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: 5px;
    padding: 1%;
    overflow: auto;
    border: solid;
    width: 100%;
    background-color: #eaeaea;
}

#errores {
  border: solid;
  float: left;
  border-radius: 25%;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #fcff47;
  text-align: center;
}

.basicError-icon {
  height: 32px;
}